{% extends 'APP/main.html' %}

{% block content %}
<div class="body">
    <div class="left">
        {% include 'APP/base.html' %}
    </div>
    <div class="card-header">
        <h3>Audio File List</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th >Filename & URL</th>
                    <th >Play</th>
                    <th >File size</th>
                    <th >Recognize</th>
                    <th >Result</th>
                </tr>
            </thead>
            <tbody>

            {% for file in files %}
            <tr>
                <td><a href="{{ file.file.url }}">{{ file.file.url }}</a></td>
                <td><audio src="{{ file.file.url }}" controls width="200" height="200"></audio></td>
                <td>{{ file.file.size | filesizeformat }}</td>
                <td><input type="submit" value="Recognize"></td>
                <td></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% for message in messages %}
            <div >
                <hr>
                <p id="messages">{{message}}Please click <a href="{% url 'upload' %}">here</a> to upload files.</p>
            </div>
        {% endfor %}
    </div>
</div>

<style>
        .body {
            display:flex;
            flex-direction:row;
            margin-top:2em;
         }
         .left{
            margin-left:4%;
            margin-right:4%;
         }
</style>
{% endblock %}