<div class="list-group">
    <a href="{% url 'library' %}" class="list-group-item list-group-item-action active">
    Instruction
  </a>
  <a href="{% url 'geography' %}" class="list-group-item list-group-item-action">Geographical Distribution</a>
  <a href="{% url 'age' %}" class="list-group-item list-group-item-action">Age Distribution</a>
  <a href="{% url 'phone' %}" class="list-group-item list-group-item-action">Phone Type</a>
  <a href="{% url 'environment' %}" class="list-group-item list-group-item-action">Recording Environment</a>
</div>