{% extends 'APP/main.html' %}

{% block content %}
<div class="body">
    <div class="left">
        {% include 'APP/base.html' %}
    </div>
    <div class="card-header">
        <h1><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
  <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
</svg> Operation Guide</h1>
        <h5 >Step one: Click the "upload" button on the left </h5>
        <p>This step is to upload your audio file. Only support MP3, MP4, wav format, and upload up to 10 files.</p>
        <br>
        <h5 >Step two: Click the "Audio File List" button on the left</h5>
        <p>This step is to show files you listed.And if you performed the previous step correctly and uploaded the file successfully, the web page will automatically jump to this page.</p>
        <br>
        <h5 >Step Three: Click the recognize button on the Audio File List page</h5>
        <p>This step is to realize online recognition. Detailed operation is to choose the audio you want to recognize in the audio file list and click the corresponding "recognition" button. </p>
        <br>
        <h5 >ps: Click the "Spectrum Map" button to view the spectrogram of all your uploaded audio files.</h5>
    </div>
</div>

<style>
         *{ margin: 0;
            padding: 0;
           }
         .body {
            display:flex;
            flex-direction:row;
            margin-top:2em;
         }
         .left{
            margin-left:4%;
            margin-right:4%;
            width:295px;
         }
         .card-header{
            margin-right:50px;
        }
</style>
{% endblock %}